:root {
  --bg-color: #fff;
  --text-color: black;
  --accent-color: #61dafb;
  --hover-color: #0d6efd;
  --btn-text: #ffffff;
}

body.dark-mode {
  --bg-color: rgb(105, 105, 105);
  --text-color: #ffffff;
  --accent-color: #282c34;
  --hover-color: #61dafb;
  --btn-text: #000000;
}

html {
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
}
body {
  background-color: var(--bg-color) !important;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container,
.content {
  background-color: transparent !important;
}
.navbar {
  background-color: var(--accent-color);
  color: var(--text-color);
}
main {
  flex: 1;
}
.logo img {
  height: 150px;
}

.themeSwitch img {
  width: 30px;
  cursor: pointer;
}

.btnStyle {
  background-color: var(--hover-color) !important;
  color: var(--btn-text) !important;
}

.btnStyle:hover {
  background-color: var(--bg-color) !important;
  color: black !important;
}

.choiceImg {
  width: 100%;
  max-width: 200px;
  height: auto;
  max-height: 40vh;
}

.choiceImg:hover {
  cursor: pointer;
}

footer {
  background-color: var(--accent-color);
  color: var(--text-color);
}

#resultText {
  color: var(--text-color);
}

@media (min-width: 768px) {
  .choiceImg {
    max-width: 220px;
  }
}
@media (max-width: 400px) {
  .results {
    margin-bottom: 4rem !important;
    min-height: 80px;
  }

  #resultText {
    white-space: normal;
    height: auto;
  }
}
