:root {
  --bg-color: #fff;
  --text-color: black;
  --accent-color: #61dafb;
  --hover-color: #0d6efd;
  --btn-text: #ffffff;
}

body.dark-mode {
  --bg-color: #282c34;
  --text-color: #ffffff;
  --accent-color: rgb(105, 105, 105);
  --hover-color: #61dafb;
  --btn-text: #000000;
}

html,
body {
  height: 100%;
}

.navbar {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.logo img {
  height: 150px;
}

.themeSwitch img {
  width: 30px;
  cursor: pointer;
}

.btnStyle {
  background-color: var(--hover-color) !important;
  color: var(--btn-text) !important;
}

.btnStyle:hover {
  background-color: var(--bg-color) !important;
  color: black !important;
}

.choiceImg {
  height: 40vh;
}

.choiceImg:hover {
  cursor: pointer;
}

footer {
  background-color: var(--accent-color);
  color: var(--text-color);
}

#resultText {
  height: 30px;
  color: var(--text-color);
}
