:root {
  --bg-color: #fff;
  --text-color: black;
  --accent-color: #61dafb;
  --hover-color: #0d6efd;
}

body.dark-mode {
  --bg-color: #282c34;
  --text-color: #ffffff;
  --accent-color: rgb(105, 105, 105);
  --hover-color: #61dafb;
}

.navbar {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.logo img {
  height: 150px;
}

.themeSwitch img {
  width: 30px;
  cursor: pointer;
}

.btnStyle {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.btnStyle:hover {
  background-color: var(--hover-color) !important;
  color: #fff !important;
}
